<!-- componente.html -->
<div class="container">
  <h1 class="header">Carrinho de Compras</h1>

  <div class="empty-cart" *ngIf="cartItems.length === 0">
    Não há itens no carrinho.
  </div>
  <ul class="cart" *ngIf="cartItems.length > 0">
    <li class="cart-item" *ngFor="let combinedItem of cartItems">
      <div class="product">
        <div class="product-details">
          <img
            [src]="combinedItem.imageUrls[0]"
            [alt]="combinedItem.product.name"
            class="product-image"
          />
          <div class="product-info">
            <div class="name">{{ combinedItem.product.name }}</div>
            <div class="description">{{ combinedItem.product.description }}</div>
            <div class="category">Categoria: {{ combinedItem.product.category }}</div>
          </div>
        </div>
        <div class="price">
          <div  class="discount" [ngClass]="{ strikethrough: combinedItem.product.discount > 0 }">
            {{ combinedItem.product.price | currency: 'BRL':'symbol' }}
          </div>
          <div *ngIf="combinedItem.product.discount > 0" class="discount">
            <!-- <pre>{{ combinedItem.product | json }}</pre> -->
            {{ (combinedItem.product.price * (1 - combinedItem.product.discount)) | currency: 'BRL':'symbol' }}
          </div>
          <button (click)="removeFromCart(combinedItem)">Remover</button>
        </div>
      </div>
    </li>
  </ul>
  <div class="cart-summary" *ngIf="cartItems.length > 0">
    <div class="total">Total: {{ cartTotal | currency: 'BRL':'symbol' }}</div>
    <button class="checkout-button" (click)="proceedToCheckout()">
      Finalizar Compra
    </button>
  </div>
</div>
