<div class="container">
  <h1 class="header">Carrinho de compras</h1>

  <div class="empty-cart" *ngIf="cartItems.length === 0">
    Não há itens no carrinho.
  </div>
  <ul class="cart">
    <li class="cart-item" *ngFor="let product of cartItems">
      <bot-product-details [product]="product">
        <button (click)="removeFromCart(product)">Remove</button>
      </bot-product-details>
    </li>
  </ul>
  <div class="total">Total: {{ cartTotal | currency:'BRL':'symbol' }}</div>
  <button *ngIf="cartItems.length > 0" (click)="proceedToCheckout()">Finalizar Compra</button>
</div>
