<div class="container">
  <div class="left">
    <img class="logo" src="/assets/images/logo.png" alt="Logo" />
    <a routerLink="/catalog"><i class="fas fa-home"></i></a>
    <!-- <a routerLink="/search" routerLinkActive="active">Busca</a> -->
  </div>
  <div class="right">
    <ng-container>
      <div class="cart">
        <a routerLink="/cart" routerLinkActive="active">
          <i class="fas fa-shopping-cart"></i> <!-- Ícone do carrinho -->
        </a>
      </div>
    </ng-container>

    <ng-container *ngIf="!(currentAccount$ | async)">
     <div class="login">
        <a routerLink="/login" routerLinkActive="active">
          <label><small>Olá, faça seu login</small></label><i class="fas fa-sign-in-alt"></i> <!-- Ícone de Login -->
        </a>
      </div>
      <div class="register">
        <a routerLink="/squad/account-squad/BUYER" routerLinkActive="active">
          <i class="fas fa-user-plus"></i> <!-- Ícone de Cadastro -->
        </a>
      </div>
    </ng-container>

    <ng-container *ngIf="currentAccount$ | async as user">
      <!-- Link de Pedidos visível apenas se o usuário estiver logado -->
      <!-- <a routerLink="/squad/bot-order" routerLinkActive="active">Pedidos</a> -->
      <a *ngIf="user.accountData.rules.isAdmin"  routerLink="/adm" routerLinkActive="active">
        <i class="fas fa-cogs"></i> <!-- Ícone de Cadastro -->
      </a>
 <!-- <pre>{{ user | json }}</pre> -->
      <a *ngIf="!user.accountData.rules.isAdmin"  routerLink="/user" routerLinkActive="active">
        <i class="fas fa-user-cog"></i> Sua conta
      </a>

      <span style="margin-left: 30px;">
        Olá, <a routerLink="/squad/bot-itemAccount" routerLinkActive="active">{{ user.accountData.person.name }}</a>
      </span>
      <a (click)="logout()">
       <i class="fas fa-sign-out-alt"></i> <!-- Ícone de Logout -->
      </a>
    </ng-container>
  </div>
</div>
